<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>
<% for post in @posts %>
<div class="kg-card kg-image-card" style="width: 200px;">
<ul> </ul>
  <b><%= post["title"] %></b>
  <p><%= post["posted_on"] %></p>
  <p><%= post["description"] %></p>
  <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["image"] %>" class="img-fluid">
      <% end %>
</div>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>